* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#2b1055, #7597de);
  min-height: 100vh;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  width: 100%;
  z-index: 10000;
}

header #logo {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

header ul {
  display: flex;
  flex-wrap: nowrap;
}

header ul li {
  list-style: none;
  margin-right: 40px;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

header ul li a:hover,
header ul li .active {
  background: #fff;
  color: #2b1055;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 10000;
}

section img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

section #moon {
  mix-blend-mode: screen;
}

section #text {
  position: absolute;
  font-size: 100px;
  color: #fff;
  font-weight: bold;
  z-index: 9;
  text-transform: capitalize;
  letter-spacing: 2px;
  right: -350px;
}

section #btn {
  display: inline-block;
  text-decoration: none;
  color: #2b1055;
  text-transform: capitalize;
  background: #fff;
  padding: 10px 20px;
  z-index: 10;
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

section #mountains_front {
  z-index: 9;
}

.sec {
  padding: 100px;
  background: #1c0522;
}

.sec h2 {
  padding-bottom: 50px;
  font-size: 50px;
  color: #fff;
  letter-spacing: 2px;
}

.sec p {
  color: #fff;
  font-size: 15px;
}

#top {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: #fff;
  color: #1c0522;
  display: none;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 35px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
